.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

::selection {
  color: #fff;
  background: blue;
}

::-moz-selection {
  color: #fff;
  background: blue;
}
